body,
html {
	width: 100%;
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial, sans-serif;
	font-weight: 700;
}

.topnav {
	font-size: 16px;
	border: 1px outset rgba(28, 28, 28, 0.3);
	background-color: rgba(28, 28, 28, 0.3);
	box-shadow: 0px 3px rgba(0, 0, 0, 0.1);
	color: #fff;
}

.topnav ul.navbar-nav li a {
	background: rgba(28, 28, 28, 0.5);
	color: #fff;
}

.topnav ul.navbar-nav li a:hover,
.topnav ul.navbar-nav li a:focus {
	background: rgba(255, 255, 255, 0.9);
	color: #000;
}

.topnav .navbar-brand {
	background: rgba(28, 28, 28, 0.0);
	color: #fff;
}

.topnav .navbar-brand:hover,
.topnav .navbar-brand:focus {
	background: rgba(255, 255, 255, 0.7);
	color: #000;
}


.lead {
	font-size: 18px;
	font-weight: 400;
} 

.intro-header {
	padding: 40px;
	text-align: center;
	color: #f8f8f8;
	background: url('css_imgs/background_top.jpg') no-repeat center fixed;
	background-size: cover;
	height: 855px;
}

.intro-message {
	position: relative;
	padding-top: 10%;
	padding-bottom: 20%;
}

.intro-message > h1 {
	margin: 0;
	text-shadow: 2px 1px 2px #000;
	font-size: 5em;
	color: rgba(255, 255, 255, 255, 0.9);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

@media(max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		overflow: hidden;
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

hr.intro-divider {
	border: 1px outset rgba(255, 255, 255, 0.3);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	width: 100%;
}

.btn {
	color: rgba(0, 0, 0, 0.9);
	border: 1px outset rgba(0, 0, 0, 0.2);
	background: rgba(255, 255, 255, 0.5);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	box-shadow: 0.5px 0.5px 0.5px #000;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;	
	transition: 0.4s;
}

.btn:hover {
	color: rgba(255, 255, 255, 0.9);
	border: 1px outset rgba(0, 0, 0, 0.2);
	background: rgba(0, 0, 0, 0.5);
	transition: 0.5s;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	box-shadow: 1px 1px 1px #000;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.fa-github {
	font-size: 20px;
}

.supporting {
	color: #fff;
	background-color: #1c1c1c;
	text-align: center;
	padding: 35px 0 0px;
}

.supporting p {
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.content-section-a {
	padding: 50px 0;
	background: url(css_imgs/architecture.jpg) no-repeat center fixed;
	background-size: cover;
	height: 755px;
}

a {
	color: rgba(0, 0, 255);
	font-weight: bold;
}

.frame {
	margin: 0;
	padding: 20px;
	border: 2px solid rgba(0, 0, 0, 0.9);
	width: 600px;
	height: 650px;
	background: rgba(255, 255, 255, 0.6);
}

.content-section-a p {
	font-weight: bold;
	font-size: 22px;
}

.img-circle {
	border: 1px groove rgba(255, 255, 255, 0.3);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

section {
	color: black;
	background-color: lightblue;
	padding: 10px;
}


.text-muted {
	color: #000;
}

#projects {
	margin: 0px;
}

#projects .projects-item {
	border: 1px solid #000;
	box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.9);
	margin: 0 0 15px;
	right: 0;
}

#projects .projects-item:hover {
	border: 1px solid #000;
	transition: 0.5s;
	box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.9);
}

#projects .projects-item .projects-link {
	display: block;
	text-align: center;
	max-width: 400px;
	max-height: auto;
	margin: 0;
}

#projects .img1{
	height: 204px;
}

#projects .projects-item .projects-link .projects-hover {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all ease .5s;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
}

#projects .projects-item .projects-link .projects-hover:hover {
	opacity: 1;
	width: 92.5%;
	background: rgba(0, 0, 0, 0.5);
}

#projects .projects-item .projects-link .projects-hover .projects-hover-content {
	position: absolute;
	width: 100%;
	height: 20px;
	font-size: 20px;
	text-align: center;
	top: 50%;
	margin-top: -12px;
	color: #fff;
}

#projects .projects-item .projects-link .projects-hover .projects-hover-content i {
	margin-top: -12px;
}

#projects .projects-item .projects-link .projects-hover .projects-hover-content h3,
#projects .projects-item .projects-link .projects-hover .projects-hover-content h4 {
	margin: 0;
}

#projects .projects-item .projects-caption {
	max-width: 400px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	padding: 25px;
}

#projects .projects-item .projects-caption h4 {
	color: #fff;
	text-transform: none;
	margin: 0;
}

#projects .projects-item .projects-caption p {
	font-family: Arial, sans-serif;
	font-style: italic;
	font-size: 13px;
	margin: 0;
	color: #fff;
}

#projects * {
	z-index: 2;
}

@media (min-width: 767px) {
	#projects .projects-item {
		margin: 0 0 30px;
	}
}





















.banner {
	padding: 150px 50px;
	color: #f8f8f8;
	background: url(css_imgs/contact.jpg) no-repeat center fixed;
	background-size: cover;
	height: 755px;
}

.banner h2 {
	margin: 10px;
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

/* mobile responsive */
@media (max-width: 1199px) {
	.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}
	#projects .projects-item .projects-link .projects-hover {
		opacity: 1;
		width: 90.5%;
		background: rgba(0, 0, 0, 0.5);
	}
}





















h2.connect {
	margin: 0;
	color: rgba(0, 0, 0, 0.9);
}

footer {
	padding: 60px 0;
	background-color: rgba(150, 150, 150, 0.7);
}

p.copyright {
	padding: 0;
	text-align: right;
	margin: -15px 0 0;
}